/* ======= GENERAL ======== */
body {
	background: white;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 85vh;
}

.container > img {
	width: 30%;
}
.container > h1 {
	font-family: "Montserrat", impact;
	font-weight: 800;
	font-size: 2.5em;
	margin-top: -1%;
	color: #4caaa8;
	text-shadow: 1px 1px #f2cd99;
	letter-spacing: 2px;
}
/* ======= CAROUSEL SECTION ======== */
.carousel-container {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.carousel-images {
	width: 80%;
	background: #fa8d8e;
	padding: 10px;
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 2px 2px #f2cd99;
}
.carousel-images img {
	width: 100%;
	border-radius: 10px;
	display: none;
}
.carousel-images img:first-of-type {
  display: block;
}
.carousel-button {
	align-self: center;
	background: #f2cd99;
	color: #888;
	padding: 10px;
	border-radius: 50%;
	text-align: center;
	box-shadow: 1px 1px #fa8d8e;
}
.carousel-button:hover {
	cursor: pointer;
	background: #fa8d8e;
	box-shadow: 1px 1px #f2cd99;
	color: white;
}

.carousel-images img:first-of-type {
	display: block;
}

.top {
  background: lightgrey;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.bot{
  background:lightgrey;
  padding: 20px;
  display:flex;
  justify-content: space-around;
  margin-top: 5px;
}
#contact {
  background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
  z-index: 1;
  overflow:auto;
  display:none;
}

#contact-textbox {
  background: white;
  height:350px;
  width:550px;
  border-radius:2px;
  margin:150px auto;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  padding: 10px;
}
