h1  {
  text-align: center;
}
body {
  font-family: 'Roboto', sans-serif;
}
a:link, a:visited {
  color: black;
  text-decoration: none;
}
.restop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.resbot {
  display: flex;
  justify-content: space-evenly;
}
#skills {
  margin-bottom: 10px;
}


/* ============the const TOP & BOT============== */
.top {
  background: rgba(218, 243, 249, 0.47);
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.bot{
  background:rgba(218, 243, 249, 0.47);
  padding: 20px;
  display:flex;
  justify-content: space-around;
  margin-top: 5px;
}
/* ============the modal============== */
#contact {
  background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
  z-index: 1;
  overflow:auto;
  display:none;
}

#contact-textbox {
  background: white;
  height:350px;
  width:550px;
  border-radius:2px;
  margin:150px auto;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  padding: 10px;
}
