.top {
  background: lightgrey;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.mid {
  /* background-image: url("pictures/sunsetbeach.webp"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:90vh;
  width:100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
}

.midbox {
  background-color: rgba(241, 173, 30, 0.5);
  border: 2px solid black;
  border-radius: 25px;
  display:flex;
  flex-direction: column;
  align-items: center;
  display:none;
  text-align: center;
}

.bot{
  background:lightgrey;
  padding: 20px;
  display:flex;
  justify-content: space-around;
  margin-top: 5px;
}

#contact {
  background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
  z-index: 1;
  overflow:auto;
  display:none;
}

#contact-textbox {
  background: white;
  height:350px;
  width:550px;
  border-radius:2px;
  margin:150px auto;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  padding: 10px;
}
